// font-familly
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap");
$font-family: "Poppins", sans-serif;

//colors
$color_blue: #506bca;
$color_dark_blue: #1b264f;
$color_charcoal: #353844;
$color_tan: #353844;
$color_background: #f5f5f5;
$color_white: #ffffff;
